.box {
    width: 200px;
    height: 100px;
    background-color: rgb(84, 155, 179);
    margin: 10px auto; 
    cursor:pointer;
    text-align: center;
    line-height: 100px;
    display: block; 

}
